<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edward Hopper</title>
</head>
<body>
    <br>
    <h1>Edward Hopper</h1>
    <li type="none" style="position: absolute; left: 0px; top: 0px;"><a href="/home">Home</a></li>
    <p>
        <img  style="float: right ;"  src="/images/hopper.jpg" width="250">
        <nav>
            <ul type="none">
                <li><a href="#biografia">Biografia</a></li>
                    <ol>
                        <li><a href="#los inicios">Los inicios</a></li>
                        <li><a href="#los viajes">Los viajes al extranjero</a></li>
                        <li><a href="#el regreso">El regreso a Estados Unidos</a></li>
                        <li><a href="#el exito">El exito</a></li>
                        <li><a href="#matrimonio">Matrimonio y avance</a></li>
                        <li><a href="#muerte">Muerte</a></li>
                    </ol>
                <li><a href="#obra">Obra</a></li>
                    <ol>
                        <li><a href="#personalidad">Personalidad y vision</a></li>
                        <li><a href="#tecnica">Tecnica</a></li>
                    </ol>
                </li>
            </ul>
        </nav>
        <br><br><br><br><br><br>
        Edward Hopper (Nyack, 22 de julio de 1882 - Nueva York, 15 de mayo de 1967) fue un pintor estadounidense, célebre sobre todo por sus retratos de la soledad en la vida estadounidense contemporánea. Se le considera uno de los pintores de la escuela Ashcan, que a través de Arshile Gorky llevó al expresionismo abstracto posterior a la Segunda Guerra Mundial.
        <hr>
        <h3 id="biografia">Biografía</h3>

       <h4 id="los inicios"> Los inicios</h4>
        Nacido en Nyack, una pequeña ciudad a orillas del río Hudson en una familia burguesa, Hopper entró en 1900 en la New York School of Art. En ese instituto coincidirá con otros futuros protagonistas del arte estadounidense de principios de los años cincuenta: Guy Pène du Bois, Rockwell Kent, Eugene Speicher y George Bellows.
        <br><br>
        Sin embargo, los contactos que resultaron fundamentales para su formación y para su desarrollo como pintor son tres de los profesores de la escuela: William Merrit Chase, que lo animó a estudiar y a copiar lo que veía en los museos; Kenneth H. Miller, que lo educó en el gusto por una pintura nítida y limpia, organizada en una composición espacial ordenada y Robert Henri, que contribuyó a liberar el arte de la época del peso de las normas académicas, ofreciendo de ese modo un ejemplo activo al joven Hopper. Tras conseguir su título, Hopper obtuvo su primer trabajo como ilustrador publicitario en la C. Phillips & Company.
        <br><br>
        <h4 id="los viajes">Los viajes al extranjero</h4>
        En 1906, viajó a Europa por primera vez. En París, experimentó con un lenguaje formal cercano al de los impresionistas. Después, en 1907, viajó a Londres, Berlín y Bruselas. El estilo personal e inconfundible de Hopper, formado por elecciones expresivas precisas, comenzó a forjarse en 1909, durante una segunda estancia en París de seis meses, llegando también a pintar en Saint-Germain y Fontainebleau.
        <br><br>
        Su pintura se caracteriza por un peculiar y rebuscado juego entre las luces y las sombras, por la descripción de los interiores, que aprende en Degas y que perfecciona en su tercer y último viaje al extranjero en 1910 a París y a España, y por el tema central de la soledad. Mientras en Europa se consolidaban el fauvismo, el cubismo y el arte abstracto, Hopper se siente más atraído por Manet, Pissarro, Monet, Sisley, Courbet, Daumier, Toulouse-Lautrec y por un pintor español anterior a todos los mencionados: Goya.
        <br><br>
        <h4 id="el regreso">El regreso a Estados Unidos</h4>
        Regresó definitivamente a los Estados Unidos, donde se estableció y permaneció hasta su muerte. En esos momentos Hopper abandona las nostalgias europeas que le habían influido hasta entonces y empieza a elaborar temas en relación con la vida cotidiana estadounidense, modelando y adaptando su estilo a la vida cotidiana. Entre los temas que aborda, abundan sobre todo las representaciones de imágenes urbanas de Nueva York y de los acantilados y playas de la cercana Nueva Inglaterra.
        <br><br>
        En 1918 se convirtió en uno de los primeros integrantes del Whitney Studio Club, el centro más dinámico para los artistas independientes de la época. Entre 1915 y 1923 abandonó temporalmente la pintura, dedicándose a nuevas formas expresivas como el grabado, usando la punta seca y el aguafuerte, con los que obtuvo numerosos premios y reconocimientos, incluso alguno de la prestigiosa National Academy.
        
        <h4 id="el exito">El éxito</h4>
        
        Nighthawks (Noctámbulos, en español), el cuadro más famoso de Edward Hopper.
        El éxito conseguido con una exposición de acuarelas (1923) y otra de lienzos (1924) hicieron de Hopper el autor de referencia de los realistas que pintaban escenas estadounidenses. Como es por ejemplo Habitación en Nueva York. Su evocadora vocación artística evolucionó hacia un fuerte realismo, que resulta ser la síntesis de la visión figurativa unida al sentimiento poético que Hopper percibe en sus objetos.
        <br><br>
        A través de imágenes urbanas o rurales, inmersas en el silencio, en un espacio real y metafísico a la vez, Hopper consigue proyectar en el espectador un sentimiento de alejamiento del tema y del ambiente en el que está fuertemente inmerso, por medio de una esmerada composición geométrica del lienzo, por un sofisticado juego de luces, frías, cortantes e intencionadamente «artificiales», y por una extraordinaria síntesis de los detalles. La escena aparece casi siempre desierta; en sus cuadros casi nunca encontramos más de una figura humana, y cuando hay más de uno lo que destaca es la alienación de los temas y la imposibilidad de comunicación resultante, que agudiza la soledad. Algunos ejemplos de este tipo de obras son Nighthawks o Despacho en una ciudad pequeña (1953).
        <br><br>
        En 1933 el Museo de Arte Moderno de Nueva York le consagró la primera retrospectiva, y el Whitney Museum la segunda, en 1950.
        <h4 id="matrimonio">Matrimonio y avance</h4>
        Para 1923, la lenta subida de Hopper finalmente produjo un gran avance. Se reencontró con Josephine Nivison, artista y exalumna de Robert Henri, durante un viaje de pintura de verano en Gloucester, Massachusetts. Eran opuestos: ella era baja, abierta, gregaria, sociable y liberal, mientras que él era alto, reservado, tímido, callado, introspectivo y conservador.  Se casaron un año después. Ella comentó: "A veces hablar con Eddie es como tirar una piedra en un pozo, excepto que no golpea cuando toca el fondo". Ella subordinó su carrera a la de él y compartió su estilo de vida solitario. El resto de sus vidas giraron en torno a su apartamento libre en la ciudad y sus veranos en South Truro en Cape Cod. Ella manejó su carrera y sus entrevistas, fue su modelo principal y su compañera de vida. 
        <br><br>
        Con la ayuda de Nivison, seis de las acuarelas Gloucester de Hopper fueron admitidas en una exhibición en el Museo de Brooklyn en 1923. Una de ellas, The Mansard Roof, fue comprada por el museo para su colección permanente por la suma de 100 dólares. Los críticos generalmente deliraron sobre su trabajo; uno dijo: "¡Qué vitalidad, fuerza y ​​franqueza! Observe lo que se puede hacer con el tema más hogareño".4​ Hopper vendió todas sus acuarelas en una exposición individual al año siguiente y finalmente decidió dejar atrás la ilustración.
        <br><br>
        El artista había demostrado su habilidad para transferir su atracción por la arquitectura parisina a la arquitectura urbana y rural estadounidense. Según la curadora del Museo de Bellas Artes de Boston, Carol Troyen, "a Hopper realmente le gustó la forma en que estas casas, con sus torres y torres y porches y techos de mansarda y adornos proyectan sombras maravillosas. Siempre dijo que su cosa favorita era pintar la luz del sol al lado de una casa." 
        <br><br>
        A los cuarenta y uno, Hopper recibió más reconocimiento por su trabajo. Continuó albergando amargura por su carrera, luego rechazó apariciones y premios. Con su estabilidad financiera asegurada por ventas constantes, Hopper viviría una vida simple y estable y continuaría creando arte en su estilo personal durante cuatro décadas más.
        <br><br>
        Su Two on the Aisle (1927) se vendió por un récord personal de 1,500 dólares, lo que le permitió a Hopper comprar un automóvil, que solía hacer excursiones a áreas remotas de Nueva Inglaterra.En 1929, produjo Chop Suey y Railroad Sunset. Al año siguiente, el mecenas de arte Stephen Clark donó House by the Railroad (1925) al Museo de Arte Moderno, la primera pintura al óleo que adquirió para su colección. Hopper pintó su último autorretrato al óleo alrededor de 1930. Aunque Josephine posó para muchas de sus pinturas, se sentó para un solo retrato formal al óleo de su marido; Jo Painting (1936). 
        <br><br>
        A Hopper le fue mejor que a muchos otros artistas durante la Gran Depresión. Su estatura aumentó notablemente en 1931 cuando los principales museos, incluido el Museo Whitney de Arte Estadounidense y el Museo Metropolitano de Arte, pagaron miles de dólares por sus obras. Vendió 30 pinturas ese año, incluidas 13 acuarelas. Al año siguiente participó en el primer Whitney Annual, y continuó exhibiendo en cada anual en el museo por el resto de su vida. En 1933, el Museo de Arte Moderno le dio a Hopper su primera retrospectiva a gran escala. 
        <br><br>
        En 1930, los Hoppers alquilaron una cabaña en South Truro, en Cape Cod. Regresaron todos los veranos por el resto de sus vidas, y construyeron una casa de verano allí en 1934. Desde allí, viajarían en automóvil a otras áreas cuando Hopper necesitaba buscar material fresco para pintar. En los veranos de 1937 y 1938, la pareja pasó largas temporadas en Wagon Wheels Farm en South Royalton, Vermont, donde Hopper pintó una serie de acuarelas a lo largo del Río Blanco. Estas escenas son atípicas entre las obras maduras de Hopper, ya que la mayoría son paisajes "puros", desprovistos de arquitectura o figuras humanas. First Branch of the White River (1938), ahora en el Museo de Bellas Artes de Boston, es el más conocido de los paisajes de Hopper en Vermont.
        <br><br>
        Hopper fue muy productivo durante la década de 1930 y principios de 1940, produciendo entre muchas obras importantes New York Movie (1939), Girlie Show (1941), Nighthawks (1942), Hotel Lobby (1943) y Morning in a City (1944). A finales de la década de 1940, sin embargo, sufrió un período de relativa inactividad. Admitió: "Ojalá pudiera pintar más. Me canso de leer e ir al cine". Durante las siguientes dos décadas, su salud vaciló y tuvo varias cirugías de próstata y otros problemas médicos. Pero, en la década de 1950 y principios de la década de 1960, creó varias obras importantes más, incluida la First Row Orchestra (1951); tanto como Morning Sun y Hotel by a Railroad, ambos en 1952; e Intermission en 1963. 
        <br><br>
        <h4 id="muerte">Muerte</h4>

        Hopper murió en su estudio cerca de Washington Square Park en la ciudad de Nueva York el 15 de mayo de 1967. Fue enterrado dos días más tarde en la parcela de su familia en el Oak Hill Cementery en Nyack, Nueva York, el lugar donde nació. 14​ Su mujer falleció diez meses más tarde y fue enterrada junto a él.
        <br><br>
        Su mujer legó su colección conjunta de más de tres mil obras al Museo Whitney de Arte Estadounidense. 15​ Otras obras significativas de Hopper se encuentran en el Museum of Modern Art en Nueva York, el centro de arte Des Moines y el Art Institute of Chicago.
        <hr>
        <h3 id="obra">Obra</h3>
        <h4 id="personalidad">Personalidad y visión</h4>
        Siempre reticente a la hora de hablar sobre sí mismo y su obra, Hopper simplemente dijo: "La respuesta completa está en el lienzo." Hopper era estoico y fatalista — un hombre silencioso e introvertido con un amable sentido del humor y de conducta franca. Hopper se sentía atraído por un simbolismo emblemático y anti-narrativo,  que "pintaba breves momentos de configuración, saturados de sugestión".  Sus espacios silenciosos e intranquilos encuentros "nos tocan donde más vulnerables somos", y tienen "una sugestión de melancolía, siendo esa melancolía representada".  Su sentido del color le delató como un pintor puro.  cuando él "transformaba lo puritano en purista, en sus silenciosos lienzos en los que las manchas y las bendiciones se equilibran". Según el crítico Lloyd Goodrich, él era "un pintor eminentemente nativo, quien más que nadie estaba captando más la calidad de América en sus lienzos".
        <br><br>
        Conservador en política y asuntos sociales (Hopper afirmó, por ejemplo, que “las vidas de los artistas deberían ser escritas por personas muy cercanas a ellos”) aceptaba las cosas tal y como eran y mostraba una ausencia de idealismo. Culto y sofisticado, fue un hombre bien leído, y muchos de sus cuadros muestran personas leyendo.  Él fue por lo general buena compañía y no le perturbaba el silencio, aunque era a menudo taciturno, gruñón o desinteresado. Siempre serio sobre su arte y el ajeno, y cuando le preguntaban respondía francamente.
        <br><br>
        <li> 
            El buen arte es la expresión exterior de la vida interior del artista, y su vida interior resultará en su visión personal del mundo. Ninguna cantidad de invención talentosa puede reemplazar el elemento esencial de la imaginación. Una de las debilidades de las pinturas mucho más abstractas es el intento de sustituir las invenciones del intelecto humano por una concepción imaginativa privada. <br>
            La vida interior de un ser humano es un campo vasto y variado y no se ocupa solo de estimulantes disposiciones de color, forma y diseño.
            <br>
            El término vida de un ser humano no debe ser usado como despectivo, ya que implica toda la existencia y la competencia del arte es reaccionar y no huir de él.
            <br>
            La pintura tendrá que lidiar más completamente y menos indirectamente con la vida y el fenómeno de la naturaleza antes de que pueda ser grande de nuevo.
            Edward Hopper, "Statement." Publicado como parte de "Statements by Four Artists" en Reality, vol. 1, no. 1 (spring 1953). El boceto manuscrito por Hopper es reproducido en Levin, Edward Hopper: An Intimate Biography, p. 461.</li><br>
        A pesar de que Hopper reclamó que él no introdujo significados psicológicos en sus pinturas, él estaba profundamente interesado en Freud y el poder del inconsciente. Escribió en 1939, “Tanto de cada obra de arte es la expresión del subconsciente que me parece que la mayoría de las cualidades importantes están colocadas inconscientemente, y pocas de importancia por el intelecto consciente.
        <br><br>
        <h4 id="tecnica">Técnica</h4>
        Mayormente conocido por sus pinturas al óleo, Hopper comenzó a ganar reconocimiento por sus acuarelas y además produjo algunos grabados comercialmente exitosos. Adicionalemente, sus cuadernos contienen bocetos a lápiz y bolígrafo de alta calidad, que no fueron hechos para ser vistos por el público.
        <br><br>
        Hopper prestaba particular atención al diseño geográfico y la cuidadosa localización de figuras humanas en equilibrio con el entorno. Él fue un artista lento y metódico; escribió, “Toma un largo tiempo que una idea llegue. Después tengo que pensar en ella durante largo rato. No comienzo a pintar hasta que lo tengo todo solucionado en mi mente. Está todo bien cuando finalmente me acerco al caballete”. A menudo hacía bocetos previos para elaborar sus cuidadosamente calculadas composiciones. Él y su mujer mantenían un detallado libro con sus obras con notas como “cara triste de mujer apagada” o .
        <br><br>
        Para “New York Movie” (1939), Hopper demuestra su minuciosa preparación con más de 53 bocetos del interior del teatro y de la figura de la acomodadora pensativa.
        <br><br>
        Su efectivo uso de la luz y la sombra para crear un estado anímico es central en los métodos de Hopper. La brillante luz solar (como emblema de la introsprección o la revelación), y las sombras que arroja también juegan roles simbólicamente poderosos en las pinturas de Hopper como “Early Sunday Morning” (1930), “Summertime” (1943), “Seven A.M.” (1948) y “Sun in Empty Room” (1963). Su uso de efectos de luz y la sombra se han comparado con la cinematografía del cine noir.

    </p>
</body>
</html>