<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>

        <ul type="none" >
            <li><img src="https://i.pinimg.com/564x/f7/28/c5/f728c5eb818e3d4fa98ed854abeb6451.jpg" height="200" width="1500" ></li>

            <li><img  src="/images/fondo.jpg" width="1600px" height="700"></li>
        </ul>
        <h3 style="position: absolute; left: 700px; top: 200px; " ><em>  ¿Sobre quien te gustaria aprender?</em></h3>

    </header>

        <nav >
            <ul type="none" style="position: absolute; left: 250px; top: 400px;">

                <li><a href="/babbage"> <img src="/images/babbage.jpg" width="120"> </a></li>
                <li> <a href="/babbage">Charles Babbage</a> </li>
            </ul>
            
            <ul type="none" style="position: absolute; left: 670px; top: 500px;">

                <li ><a href="berners-lee"> <img src="/images/berners-lee.jpg" width="250"></a></li>
                <li><a href="/berners-lee">Tim Berners-Lee</a></li>    
            </ul>

            <ul type="none" style="position: absolute; left: 1250px; top: 400px;">
                <li><a href="/clarke"> <img src="/images/Clarke.jpg" width="115"> </a></li>
                <li><a href="/clarke">Arthur C. Clarke</a></li>
            </ul>

            <ul type="none" style="position: absolute; left: 250px; top: 600px;">

                <li><a href="/hamilton"> <img src="/images/hamilton.jpg" width="120"> </a></li>
                <li> <a href="/hamilton">Margaret Hamilton</a> </li>
            </ul>
            
            <ul type="none" style="position: absolute; left: 750px; top: 300px;">

                <li ><a href="/lovelace"> <img src="/images/lovelace.jpg" width="100"></a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>    
            </ul>

            <ul type="none" style="position: absolute; left: 1250px; top: 600px;">
                <li><a href="/hopper"> <img src="/images/hopper.jpg" width="115"> </a></li>
                <li><a href="/hopper">Edward Hopper</a></li>
            </ul>

            <ul type="none" style="position: absolute; left: 750px; top: 700px;">
                <li><a href="/turing"> <img src="/images/turing.jpg" width="115"> </a></li>
                <li><a href="/turing">Alan Turing</a></li>
            </ul>
        </nav>
</body>
</html>